.task__status {
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 10px;
}


.task__dummyImage {
    width: 381px  !important;
    height: 214px  !important;
    overflow: hidden;
}

.task__video {
    margin-top: 10px;
}

.task__dummyImage__imageAnimation {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    animation: uploadProgress 2.5s linear infinite;
  }

  @keyframes uploadProgress {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }